@model Website4.Models.Image

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Fotoğrafı Değiştir</h2>

@using (Html.BeginForm(Html.BeginForm("Edit", "Images", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.ProductId, "ProductId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.Image_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group mb-10">
                <input type="file" name="fileimage" value="fileimage" class="form-control" aria-describedby="button-addon2">

                <div class="input-group-append">
                    <input type="submit" value="Yükle" class="btn btn-success" />
                    @Html.ValidationMessageFor(model => model.Image_, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <h5 style="color: green;">@TempData["result-success"]</h5>
        <h5 style="color: red;">@TempData["result-error"]</h5>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Fotoğrafları Listele", "Index")
</div>
