@model IEnumerable<Website4.Models.OrderDetail>
@{ 
    Layout = "";
}

@*Basılacak Sayfa  *@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <div class="container">
        @{
            foreach (var item in Model)
            {
                <h1 algin="center">@item.Order.Member.FirstName  @item.Order.Member.LastName</h1>
                break;
            }

        }
    </div>

    <table class="table  table-condensed" style="box-shadow: 2px 2px 5px rgba(0,0,0,0.1);">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ürün Foto</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Adet</th>
                <th scope="col">Toplam Fiyatı</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.Product.Image_)" alt="@item.Product.Pname" width="50" height="50" />
                </td>
                <td>
                    <a href="@Url.Action("Index","Details",new { id=item.ProductId })">@item.Product.Pname</a>
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.PTotalPrice
                </td>


            </tr>

        }
        <tr>
            <td>
                @foreach (var item in Model)
                {
                <h1 algin="center"> @item.Order.TotalPrice</h1>
                break;
                }
               
            </td>
        </tr>
    </table>




</body>
</html>

